<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Inicio</h1>
            <p th:text="${ saludar }"></p>
            <p th:text="${ saludo }"></p>
            <br>
            
            <div th:if="${ personas != null and !personas.empty }">
                <table border="1">
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Telefono</th>
                    </tr>


                    <tr th:each="persona : ${ personas }">
                        <td><span th:text="${ persona.nombre }"></td>
                        <td><span th:text="${ persona.apellido }"></td>
                        <td><span th:text="${ persona.email }"></td>
                        <td><span th:text="${ persona.telefono }"></td>
                    </tr>
                </table>
            </div>
            
            <div th:if="${ personas == null or personas.empty }">
                Lista de personas vacia
            </div>
        </div>
    </body>
</html>
